<!--
  ~ Copyright (c) 2019.
  ~ OOON.ME ALL RIGHTS RESERVED.
  ~ Licensed under the Mozilla Public License, version 2.0
  ~ Please visit http://ooon.me or mail to zhaihao@ooon.me
  -->

<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <conversionRule conversionWord="coloredLevel" converterClass="log.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/application.log</file>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>


    <appender name="METRICS" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/metrics.log</file>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%-120(%date{HH:mm:ss.SSS} %-7(%coloredLevel) %logger [%X{akkaSource}]) - %message%n%xException{10} </pattern>-->
            <pattern>%-90(%date{HH:mm:ss.SSS} %-7(%coloredLevel) %logger{40}(%line\)) - %message%n%xException{10} </pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <!-- apache spark-->
    <logger name="io.netty" level="WARN"/>
    <logger name="org.apache.parquet" level="WARN"/>
    <logger name="org.apache.spark" level="WARN"/>
    <logger name="org.apache.spark.scheduler" level="WARN"/>
    <logger name="org.apache.spark.streaming.scheduler" level="WARN"/>
    <logger name="org.spark_project.jetty" level="WARN"/>
    <logger name="org.apache.spark.ui.JettyUtils" level="WARN"/>
    <logger name="org.apache.spark.ui.SparkUI" level="INFO"/>

    <logger name="org.apache.hadoop" level="INFO"/>

    <logger name="play" level="INFO"/>
    <logger name="application" level="DEBUG"/>

    <logger name="com.zaxxer.hikari" level="INFO"/>


    <logger name="slick" level="INFO"/>
    <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG" />

    <logger name="slick.jdbc.JdbcBackend.parameter" level="DEBUG"/>
    <logger name="slick.jdbc.JdbcBackend.benchmark" level="DEBUG"/>
    <logger name="slick.jdbc.StatementInvoker" level="DEBUG"/>

    <logger name="play.filters.csrf" level="DEBUG"/>

    <logger name="akka" level="INFO" />
    <logger name="akka.remote.EndpointWriter" level="ERROR" />
    <logger name="org.jboss.netty" level="ERROR" />


    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
